
<div class='goal'>
	<div class='goal__right'>
		<div class='goal__header header header_bright'>
			Наша цель
		</div>	
		<div class='block goal__block'>
			<div class='text'> 
				Подготовка специалистов без опыта работы в тестировании для дальнейшего трудоустройства в компанию Quality Expert. Безусловно, опыт приобретается на боевых проектах по тестированию, но начинать работу без определенного базиса невозможно. Именно он и формируется в проводимых нами школах.
			</div>	
			<div class='goal__label'>
				<div class='text'>
					В нашей школе по нагрузочному тестированию постоянно ведется набор абитуриентов. 
				</div>	
				<a class='link' href='#modal' data-uk-modal>Отправить заявку</a>	
			</div>	
		</div>	
	</div>

	<div class='cube' 
	style='width: 600px;
    height: 600px;
    right: -250px;
    top: -200px;'>
    </div>	

    <div class='cube' 
	style='height: 1000px;
    width: 800px;
    right: -300px;
    top: -350px;'>
    </div>	
</div>	