
<div class='how'>
	<div class='how__left'>
		<div class='block'>
			<div class='header header_balanced header_medium'>
				Как попасть в школу?
			</div>	
			<div class='text'>
				Для того чтобы попасть в Школу необходимо выполнить вступительное задание, которое мы высылаем всем кандидатам во время набора Школ. Все кандидаты, выполнившие вступительное задание, зачисляются в Школу.
			</div>	
			<a class='button' href='#modal' data-uk-modal>Оставить заявку</a>
		</div>	
	</div>	
	<div class='how__right'>
		<div class='block block_orange'>
			<div class='header header_medium header_white'>
				Как проходит обучение?
			</div>
			<div class='text text_white'>
				В школе проходят занятия и даются задания для самостоятельной работы. Все «школьники», успешно окончившие Школу, трудоустраиваются в нашу компанию.
			</div>	
		</div>	
	</div>	

	<div class='cube'
	style='width: 400px;
    height: 400px;
    top: -70px;
    right: 100px;'>
	</div>	

	<div class='cube'
	style='width: 600px;
    height: 600px;
    top: -200px;
    right: -250px;'>
	</div>	

	<div class='cube'
	style='width: 1210px;
    height: 600px;
    top: 300px;
    left: -250px;'>
	</div>	

	<div class='cube'
	style='width: 400px;
    height: 400px;
    top: 400px;
    left: -50px;'>
	</div>	
</div>	