
<div class='job'>
	<div class='job__left'>
		<div class='block block_bigOffset block_job'>
			<div class='header header_right header_white'>
				Работа в НТ
			</div>	
			<div class='text text_right text_white'>
				Тестирование – очень востребованная сфера деятельности. Кто бы что ни говорил про кризис и еще что-либо, объем задач по тестированию растет, и хорошие специалисты по тестированию всегда будут цениться и хорошо зарабатывать.
			</div>	
		</div>	
	</div>	

	<div class='cube'
		style='width: 500px;
    height: 500px;
    top: -200px;
    left: -200px;'>
	</div>	

	<div class='cube'
		style='width: 500px;
    height: 700px;
    top: -350px;
    left: -300px;'>
	</div>

    <div class='cube'
		style='width: 500px;
    height: 400px;
    top: 370px;
    left: -270px;'>
	</div>

	<div class='cube'
		style='width: 600px;
    height: 400px;
    top: 180px;
    left: -200px;'>
	</div>
</div>	