
<div class='mustread'>
	<div class='mustread__center'>
		<div class='block block_bigOffset mustread__block'>
			<div class='header header_big mustread__header'>
				must read?
			</div>	
			<div class='text'>
				Многие спрашивают, что надо почитать, есть ли must read? «Тестирование дот ком» Савина никто не отменял, но мы рекомендуем книгу «Ключевые процессы тестирования» Рекса Блека, в ней хорошо описаны те грабли, на которые наступают практически все специалисты по тестированию.
			</div>	
		</div>	
	</div>	
</div>	