
<div class='person'>
	<div class='person__left'>
		<div class='person__header header header_right header_balanced'>
			Иванцов Евгений Владимирович
		</div>	
		<div class='block block_orange block_bigOffset'>
			<div class='text text_small text_white'>
				Родился в 1981 году в Симферополе. Вырос в Москве, в 2003 году окончил факультет Специальной техники Института Криптографии, Связи и Информатики Академии ФСБ России. В 2003 году уволился из ФСБ России. Первое время работал специалистом по телекоммуникационному оборудованию в таких компаниях как Huawei Technologies и Cisco Systems. Работая в Cisco Systems, стал менеджером по работе с клиентами. После чего работал в этой должности в Российских компаниях, таких как АМТ Груп и Перфоманс Лаб. В 2013 основал ООО «Кволити Эксперт». По настоящее время является единственным учредителем и Генеральным директором ООО «Кволити Эксперт». Компания успешно оказывает услуги по тестированию информационных (автоматизированных) систем и уделяет очень большое внимание квалификации персонала. Постоянно проводятся Школы по нагрузочному, автоматизированному функциональному и автоматизированному нагрузочному тестированию.
			</div>	
		</div>	
	</div>	
	<div class='person__right'>
		<div class='block block_noneOffset'>
			<img src='img/person.jpg'>
		</div>	
	</div>	

	<div class='cube'
	style='width: 400px;
    height: 400px;
    top: -100px;
    right: -100px;'>
	</div>	

	<div class='cube'
	style='width: 400px;
    height: 400px;
    top: -200px;
    right: 100px;'>
	</div>	

	<div class='cube'
	style='width: 400px;
    height: 550px;
    top: 50px;
    right: 150px;'>
	</div>	

	<div class='cube'
	style='width: 500px;
    height: 400px;
    top: 250px;
    left: -150px;'>
	</div>

	<div class='cube'
	style='width: 500px;
    height: 400px;
    top: 400px;
    left: -250px;'>
	</div>
</div>
