
<div class='quote'>
	<div class='quote__left'></div>
	<div class='quote__text'>
		<div class='text text_small text_bold'>
			Главное это огонь в глазах и стремление разбираться во всем, с чем вы сталкиваетесь. Если вы работаете в НТ, задайтесь вопросами: зачем нужен профиль нагрузки, почему надо наполнять БД для проведения тестирования, зачем мы согласуем с Заказчиком какие-то ограничения? Все, что не совсем понятно, надо выяснять, все, что понятно, надо проверять вопросами: а что будет, если это будет по-другому? Пытливый ум и стремление мыслить рационально – вот ключ к успеху в любом деле, за которое вы беретесь.
		</div>
	</div>	
	<div class='quote__right'></div>	
</div>	