.head {
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;

	&__left {
		min-width: 980px;
		height: 440px;
		z-index: 10;
	}

	&__right {
		min-width: 380px;
		height: 360px;
		position: relative;
    	left: -180px;
    	z-index: 10;
	}

	&__title {
		width: 50%;
	}
}