
.mustread {
	margin-top: 120px;
    width: 900px;
    position: relative;
    left: 140px;
    z-index: 1;

	&__header {
		position: absolute;
	    top: -60px;
	    right: -160px;
	    width: auto;
	    z-index: 10;
	}
}