
.quote {
	display: flex;
    justify-content: space-between;
    position: relative;
    margin-top: 100px;

    &__left,
    &__right {
    	z-index: 10;
    }

	&__left::before,
	&__right::before {
		content: '"';
	    font-size: 500px;
	    height: 30px;
	    top: 300px;
	    font-weight: bold;
	    position: absolute;
	    opacity: 0.4;
	}

	&__right::before {
		top: 120px;
    	right: 0;
	}

	&__text {
		width: 60%;
    	text-align: justify;
    	z-index: 10;
	}
}