<div class='head'>
	<div class='head__left'> 
		<div class='block block_bigOffset block_colored block_head'>
			<img class='logo' src='img/logo-white.png'>
			<div class='header header_white head__title'>
				Школа тестирования
			</div>	
		</div>	
	</div>
	<div class='head__right'>
		<div class='block'>
			<div class='header header_small'>
				Хочешь работать в сфере IT?
			</div>	
			<div class='text text_medium'>
				Бесплатная школа с трудоустройством
			</div>	
			<a class='button button_wide' href='#modal' data-uk-modal>Оставить заявку</a>
		</div>	
	</div>	

	<div class='cube cube_m' style='top: -60px; left: -100px;'></div>
	<div class='cube cube_l' style='top: -200px; left: -100px;'></div>
</div>	